{
  "log": {
    "_recordingName": "An ComunicaEngine instance without default source/yields results for a SELECT query with an array",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "89fd662a5323ae09d4a1034b0b65f250",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ruben.inrupt.net/profile/card"
        },
        "response": {
          "content": {
            "mimeType": "text/turtle",
            "size": 841,
            "text": "@prefix solid: <http://www.w3.org/ns/solid/terms#>.\n@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n@prefix pim: <http://www.w3.org/ns/pim/space#>.\n@prefix schema: <http://schema.org/>.\n@prefix ldp: <http://www.w3.org/ns/ldp#>.\n\n<>\n    a foaf:PersonalProfileDocument ;\n    foaf:maker <https://ruben.inrupt.net/profile/card#me> ;\n    foaf:primaryTopic <https://ruben.inrupt.net/profile/card#me> .\n\n<https://ruben.inrupt.net/profile/card#me>\n    a foaf:Person ;\n    a schema:Person ;\n\n    foaf:name \"Ruben Verborgh (test)\" ;\n\n    solid:account </> ;  # link to the account uri\n    pim:storage </> ;    # root storage\n\n    ldp:inbox </inbox/> ;\n\n    pim:preferencesFile </settings/prefs.ttl> ;  # private settings/preferences\n    solid:publicTypeIndex </settings/publicTypeIndex.ttl> ;\n    solid:privateTypeIndex </settings/privateTypeIndex.ttl> .\n"
          },
          "headers": [
            {
              "name": "allow",
              "value": "OPTIONS, HEAD, GET, PATCH, POST, PUT, DELETE"
            },
            {
              "name": "link",
              "value": "<card.acl>; rel=\"acl\", <card.meta>; rel=\"describedBy\", <http://www.w3.org/ns/ldp#Resource>; rel=\"type\""
            },
            {
              "name": "wac-allow",
              "value": "user=\"read\",public=\"read\""
            },
            {
              "name": "ms-author-via",
              "value": "SPARQL"
            },
            {
              "name": "updates-via",
              "value": "wss://ruben.inrupt.net"
            },
            {
              "name": "content-type",
              "value": "text/turtle"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2399,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
